
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 2em 1.5em;
    width: 100%; 
    max-width: 600px; 
    border-radius: 12px;
    border: 1px solid #d4af37; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); 
    background-color: #f9f9f9;
    color: #333;
}

.itens {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}

.itens li {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.itens label {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #555;
}

.itens input {
    height: 2.5em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc; 
    width: 100%;
    max-width: 100%;
}


.card .btn {
    text-decoration: none;
    background: #d4af37; 
    color: #fff;
    padding: 0.8em 1.5em;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    align-self: center;
}

.card .btn:hover {
    background: #b8860b; 
    color: #fff;
}

.imagemPreview {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 200px;
    border-radius: 8px;
    border: 2px solid #d4af37;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 1em;
}

.ingredientesContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.ingredientesInput {
    flex: 1;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 1em;
}

.ingredientesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ingredientesList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

.ingredientesList button {
    background-color: #e33333;
    color: white;
    border: none;
    padding: 0.3em 0.6em;
    border-radius: 5px;
    cursor: pointer;
}

.ingredientesList button:hover {
    background-color: darkred;
}

.errorInput {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.errorInput::placeholder {
    color: red;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 0.3em;
}

.adicionarBtn {
    background-color: #4CAF50; 
    color: white; 
    padding: 0.6em 1.2em; 
    border: none; 
    border-radius: 8px; 
    font-weight: bold;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-top: 1em; 
    align-self: center; 
}

.adicionarBtn:hover {
    background-color: #45a049;
}

